    * {
        margin: 0;
        padding: 0;
    }

    html,
    body {
        width: 100%;
        height: 100vh;
    }

    .bg-green{
        background-color: #6b8e23;
    }

    .bg-oliva{
        background-color:#b9f641;
    }

    .bg-gris{
        background-color: #e7ecd9;
    }

    .tx-white{
        color:white;
        font-size: 22px;
        font-weight: bold;
    }

    .title{
        font-weight: bold;
        text-shadow: -1px 1px #32268b;
    }

    .nav-link:hover{
        color:#32268b;
    }

    .tx-20{
        font-size: 20px;
    }

    .espacio{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .pdTopBottom{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .mgLR{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .mg-top{
        margin-top: 0.5rem;

    }


    /* En la sección PRINCIPAL está la FOTO DE LAS OLIVAS y el título 
    section#principal {
        grid-area: principal;
        background-image: url(../img/fondo.jpg);
        background-size: cover;
        background-position: center;
        height: 300px;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section#principal img {
        width: 100%;
        height: auto;

    }

    section#principal h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-shadow: 2px -1px 1px rgb(107, 3, 62);
        color: #b9f641;
        font-size: 80px;
        font-weight: bolder;
       
    } */

    /* En la sección IMG tengo: el título, las TRES IMÁGENES y sus párrafos 
    section#img {
        grid-area: img;
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: beige;
    }

    section#img h2 {
        font-family: sans-serif;
        font-size: 42px;
        font-weight: bold;
        text-align: center;
        color: #879b5f;
        text-shadow: -3px 2px #fffb00;
        padding: 10px;
    }

    section#img article {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    section#img div {
        width: 350px;
        height: 420px;
        margin: 7px;
        padding: 2px;
        border: 2px;
        border-style: double;
        border-radius: 10%;
        border-color: #6b8e23;
        background-color: azure;
    }

    section#img p {
        font-family: sans-serif;
        font-size: 20px;
        color: rgb(33, 48, 1);
        font-style: italic;
        padding: 2px;
    } */

    /* La sección LUGAR tiene adentro: LA UBICACIÓN (maps) y LA COSECHA (cosecha)
    section#lugar {
        grid-area: lugar;
    }

    section#lugar article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    section#lugar div {
        width: 400px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-family: sans-serif;
        text-align: center;
        font-size: 20px;
        color: rgb(33, 48, 1);
    }

    section#lugar h3 {
        font-size: 40px;
        padding: 10px;
    }

    section#lugar p {
        font-style: italic;
        padding: 10px;
    }

    #maps {
        width: 50%;
        background-color: azure;
    }

    #cosecha {
        background-color: #fffec4;
        width: 50%;
    }
 */
    /* COMUNICADOS 
    aside {
        grid-area: comunicados;
        text-align: center;
        font-family: sans-serif;
        font-size: 15px;
        font-weight: bold;
        color: rgb(48, 1, 28);
        padding: 10px;
        background-color: azure;
    }

    aside div#comunicados {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }*/

    /* Le armé una clase para el título de los comunicados - PRODUCTOS  
    .parrafoTitulo {
        font-family: sans-serif;
        font-size: 18px;
        color: #879b5f;
        text-align: center;
        text-shadow: -1px 2px rgb(107, 3, 62);
    }
*/
    /* FOOTER - Tiene logos que redireccionan a las páginas de Instagram, Facebook y a WhatsApp
    footer {
        grid-area: elFooter;
        background-color: #6b8e23;
        text-align: center;
        color: white;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 15px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer div a {
        padding-left: 10px;
        padding-right: 10px;
    }
 */
    /* aplico MEDIAQUERYS para las medidas entre 0 y 992px
    @media screen and (max-width: 992px) {
        header p {
            font-size: 25px;
            color: aqua;
        }

        section#img h2 {
            font-size: 20px;
            color: #6b8e23;
        }

        section#lugar h3 {
            font-size: 20px;
            color: black;
        }

    }
 */
    /* aplico MEDIAQUERYS para las medidas de más de 992px
    @media screen and (min-width: 992px) {
        #wrapper {
            grid-template-areas:
                "miHeader miHeader "
                "principal  principal"
                "img  comunicados"
                "lugar  comunicados"
                "elFooter  elFooter"
            ;
        }

        aside div#comunicados {
            grid-area: comunicados;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }
        aside p{
            padding:20px;
            font-size: 20px;
        }

        .parrafoTitulo {
            font-family: sans-serif;
            font-size: 40px;
            color: #879b5f;
            text-align: center;
            text-shadow: -1px 2px rgb(107, 3, 62);
        }

        section#lugar{
            background-color: #fffec4;
        }
        
        #maps{
            background-color: #fffec4;

        }

        aside {
            visibility: visible;
        }
    }
   
 */
    /*En mediaquerys muevo los COMUNICADOS (aside), en el celu los veo como fila y la PC como una columna a la derech